<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="/404.css" />
    <title>WeWalk | 404</title>
  </head>
  <body>
    <div class="header-top">
      <img src="logo.png" alt="WeWalk Logo" class="header-logo" />
    </div>
      <br />
      <br />
    <div class="container">
      <section class="cta-section">
        <h2>404 PAGE NOT FOUND</h2>
        <p class="product-description">
         Oopsie-doodle! 🙈 <br />
           Looks like the mystical unicorn ate that page you were hunting for! 
           It's vanished into thin air, in its usual magic style. <br />
            Our bad! But hey, don't mope around like a sad potato — why not try our
          number-guessing game for a spin?<br />
          It's magically fun right where you are! 🪄✨  <br />
        </p>
        <br />
        <br />
        <button class="button-background-move" role="button"><strong> <a href="/" id="my-link">GO BACK TO HOME PAGE</strong></a></button>
       <br />
        <br />
        <br />
        <br />
        <h1>NUMBER GUESSING GAME</h1>
        <p>Pick a number between 1 - 10</p>
        <label>Enter a guess</label>
        <input id="guessField">
        <input type="submit" id="submitButton">
     <script src="/404.js" defer></script>   
  </body>
</html>
