<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WeWalk | Walk with Confidence</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="header-top">
      <img src="logo.png" alt="WeWalk Logo" class="header-logo" />
    </div>

    <div class="container">
      <section class="cta-section">
        <h2>JOIN THE WALKING COMMUNITY</h2>
        <p class="product-description">
          WeWalk is more than just an app; it's your trusted companion,
          dedicated to ensuring your journey during nighttime strolls is as
          secure as can be. Our mission is simple yet thoughtful: enabling
          worry-free walks for everyone. We're here to empower you, allowing you
          to step into the night with a newfound sense
          of confidence and security like never before. Whether
          it's monitoring your path, alerting your chosen contacts, or providing
          emergency assistance, WeWalk stands vigilant by your side, ready to
          assist in any situation. 
        </p>
        <br />
        <br />
<button class="button-background-move" role="button"><strong><a href="/login" id="my-link">GET STARTED</a></strong></button>
  <br />
  <br />
  <br />
   <a href="/userlogin" class="login-link">LOGIN</a>
          <br />
          <br />
      </section>
      <section class="promo-section">
        <div class="promo-card">
          <div class="promo-content">
            <h3>Real-time Location Traking</h3>
               <p>
             WeWalk utilizes advanced GPS technology to accurately track your real-time location, 
             providing your loved ones with the peace of mind they deserve by knowing exactly where 
             you are at any given moment. 
             </p>
             <p>
             Our cutting-edge discreet call feature enables you to silently 
             call for help and swiftly share your precise location with the simple touch of a button. 
            </p>
          </div>
          <br />
        </div>
        <div class="promo-card">
          <div class="promo-content">
            <h3>Emergency Alerts</h3>
            <p>
              With WeWalk, you can effortlessly and quickly send emergency 
              alerts to your chosen contacts or directly to the nearest local authorities, ensuring 
              that they receive timely notifications about your situation. 
            </p>
             <p>
              This prompt communication includes sharing your precise location and identifying the type of potential danger. 
              It enables a rapid and coordinated response to any such threat you might encounter.
            </p>
          </div>
           <br />
        </div>
        <div class="promo-card">
          <div class="promo-content">
            <h3>Community Support</h3>
            <p>
            Join a vibrant and caring community where you'll have the opportunity to share not only safety tips but also 
            personal experiences and valuable support. We're excited to introduce a new feature: the ability to find 
            active users near you and connect with them for a shared walking experience.
            </p>
            <p>
            Your active involvement amplifies the positive impact we can make, ensuring that each user feels empowered and 
            supported.
            </p>
          </div>
          <br />
        </div>
      </section>
      <br />
      <br />
      <br />   
    </div>
    <br />
    <footer>
      <div class="footer-section">
        <section class="user-quote">
        <p>
          <strong>
            "WeWalk has given me peace of mind when walking alone at night. I
            feel safer knowing I have a support system just a tap away."
          </strong>
        </p>
        <em>
        <p class="user-quote-author"> - Jane Doe </p>
        </em>
      </section>
    </footer>
  </body>
</html>

