<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/login.css" />
    <title>WeWalk - Walk with Confidence</title>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <br />
        <br />
        <h2>WELCOME TO OUR REGISTRATIONG PAGE</h2>
        <h3>BE PART OF THE CHANGE</h3>
        <h2>JOIN US!</h2>
        <form action="/login" method="POST">
          <div class="input-group">
            <input
              type="text"
              placeholder="NAME"
              class="input-field"
              name="username"
            />
            <input
              type="text"
              placeholder="PHONE NUMBER"
              class="input-field"
              name="userphone"
            />
            <input
              type="text"
              placeholder="EMAIL"
              class="input-field"
              name="useremail"
            />
            <input
              type="password"
              id="password"
              placeholder="PASSWORD"
              class="input-field"
              name="userpassword"
            />
            <input
              type="text"
              placeholder="FIRST EMERGENCY CONTACT NAME"
              class="input-field"
              name="contact1"
            />
            <input
              type="text"
              placeholder="FIRST EMERGENCY CONTACT PHONE NUMBER"
              class="input-field"
              name="contact1phone"
            />
            <input
              type="text"
              placeholder="SECOND EMERGENCY CONTACT NAME"
              class="input-field"
              name="contact2"
            />
            <input
              type="text"
              placeholder="SECOND EMERGENCY CONTACT PHONE NUMBER"
              class="input-field"
              name="contact2phone"
            />
            <input
              type="text"
              placeholder="THIRD EMERGENCY CONTACT NAME"
              class="input-field"
              name="contact3"
            />
            <input
              type="text"
              placeholder="THIRD EMERGENCY CONTACT PHONE NUMBER"
              class="input-field"
              name="contact3phone"
            />

            <br />
            <br />
          </div>
          <button class="button-background-move" role="button" id="my-link">
            <strong>REGISTER</strong>
          </button>
        </form>
        <br />
        <br />
        <br />
        <a href="/" class="go-back-link">GO BACK</a>
      </div>
    </div>
    <script src="/login.js" defer></script>
  </body>
</html>
